<table border="1" class="dataframe">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>Место</th>
      <th>Результат</th>
      <th>Изначальный индекс</th>
      <th>Количество очков</th>
      <th>Мировой рекорд</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:24.660000</td>
      <td>12</td>
      <td>328</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>1</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:27.630000</td>
      <td>13</td>
      <td>230</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>2</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:28.520000</td>
      <td>14</td>
      <td>206</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>3</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:29.680000</td>
      <td>15</td>
      <td>186</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>4</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:30.310000</td>
      <td>16</td>
      <td>168</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>5</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:32.160000</td>
      <td>17</td>
      <td>138</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>6</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:32.170000</td>
      <td>18</td>
      <td>138</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>7</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:33.840000</td>
      <td>19</td>
      <td>126</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>8</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:36.420000</td>
      <td>20</td>
      <td>97</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>9</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:38.250000</td>
      <td>21</td>
      <td>82</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>10</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:38.590000</td>
      <td>22</td>
      <td>82</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>11</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:42.590000</td>
      <td>23</td>
      <td>61</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>12</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:46.320000</td>
      <td>24</td>
      <td>46</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>13</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:46.660000</td>
      <td>25</td>
      <td>46</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>14</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:00:57.620000</td>
      <td>26</td>
      <td>24</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>15</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:01:04.360000</td>
      <td>27</td>
      <td>17</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>16</th>
      <td>плавание в ластах - 50 м, девочки</td>
      <td>00:01:04.400000</td>
      <td>28</td>
      <td>17</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>21</th>
      <td>плавание в ластах - 50 м, девушки</td>
      <td>00:00:21.030000</td>
      <td>33</td>
      <td>490</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>22</th>
      <td>плавание в ластах - 50 м, девушки</td>
      <td>00:00:21.800000</td>
      <td>34</td>
      <td>490</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>23</th>
      <td>плавание в ластах - 50 м, девушки</td>
      <td>00:00:23</td>
      <td>35</td>
      <td>373</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>24</th>
      <td>плавание в ластах - 50 м, девушки</td>
      <td>00:00:23.370000</td>
      <td>36</td>
      <td>373</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>25</th>
      <td>плавание в ластах - 50 м, девушки</td>
      <td>00:00:25.730000</td>
      <td>37</td>
      <td>290</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>26</th>
      <td>плавание в ластах - 50 м, девушки</td>
      <td>00:00:26.310000</td>
      <td>38</td>
      <td>258</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>27</th>
      <td>плавание в ластах - 50 м, девушки</td>
      <td>00:00:27.440000</td>
      <td>39</td>
      <td>230</td>
      <td>16.56</td>
    </tr>
    <tr>
      <th>31</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:25.240000</td>
      <td>43</td>
      <td>215</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>32</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:26.440000</td>
      <td>44</td>
      <td>192</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>33</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:26.680000</td>
      <td>45</td>
      <td>192</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>34</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:27.080000</td>
      <td>46</td>
      <td>171</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>35</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:28.050000</td>
      <td>47</td>
      <td>153</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>36</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:28.350000</td>
      <td>48</td>
      <td>153</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>37</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:29.170000</td>
      <td>49</td>
      <td>138</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>38</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:29.940000</td>
      <td>50</td>
      <td>138</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>39</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:29.970000</td>
      <td>51</td>
      <td>138</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>40</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:30.770000</td>
      <td>52</td>
      <td>125</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>41</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:31.410000</td>
      <td>53</td>
      <td>113</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>42</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:31.730000</td>
      <td>54</td>
      <td>113</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>43</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:32.780000</td>
      <td>55</td>
      <td>102</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>44</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:34.050000</td>
      <td>56</td>
      <td>85</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>45</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:34.660000</td>
      <td>57</td>
      <td>85</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>46</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:35.310000</td>
      <td>58</td>
      <td>78</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>47</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:35.500000</td>
      <td>59</td>
      <td>78</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>48</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:36.870000</td>
      <td>60</td>
      <td>72</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>49</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:37.620000</td>
      <td>61</td>
      <td>66</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>50</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:38.110000</td>
      <td>62</td>
      <td>61</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>51</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:38.870000</td>
      <td>63</td>
      <td>61</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>52</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:40.660000</td>
      <td>64</td>
      <td>52</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>53</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:42.240000</td>
      <td>65</td>
      <td>45</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>54</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:42.310000</td>
      <td>66</td>
      <td>45</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>55</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:42.480000</td>
      <td>67</td>
      <td>45</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>56</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:42.840000</td>
      <td>68</td>
      <td>45</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>57</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:43</td>
      <td>69</td>
      <td>42</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>58</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:43.280000</td>
      <td>70</td>
      <td>42</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>59</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:43.620000</td>
      <td>71</td>
      <td>42</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>60</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:45.080000</td>
      <td>72</td>
      <td>37</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>61</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:45.370000</td>
      <td>73</td>
      <td>37</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>62</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:47.450000</td>
      <td>74</td>
      <td>32</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>63</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:47.590000</td>
      <td>75</td>
      <td>32</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>64</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:48.940000</td>
      <td>76</td>
      <td>30</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>65</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:49.710000</td>
      <td>77</td>
      <td>28</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>66</th>
      <td>плавание в ластах - 50 м, мальчики</td>
      <td>00:00:55.180000</td>
      <td>78</td>
      <td>20</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>71</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:20.370000</td>
      <td>83</td>
      <td>421</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>72</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:20.370000</td>
      <td>84</td>
      <td>421</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>73</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:20.520000</td>
      <td>85</td>
      <td>421</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>74</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:22.960000</td>
      <td>86</td>
      <td>316</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>75</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:23.240000</td>
      <td>87</td>
      <td>277</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>76</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:23.790000</td>
      <td>88</td>
      <td>277</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>77</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:23.840000</td>
      <td>89</td>
      <td>277</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>78</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:24.280000</td>
      <td>90</td>
      <td>244</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>79</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:24.850000</td>
      <td>91</td>
      <td>244</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>80</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:25</td>
      <td>92</td>
      <td>215</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>81</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:25.290000</td>
      <td>93</td>
      <td>215</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>82</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:25.750000</td>
      <td>94</td>
      <td>215</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>83</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:25.800000</td>
      <td>95</td>
      <td>215</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>84</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:26.970000</td>
      <td>96</td>
      <td>192</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>85</th>
      <td>плавание в ластах - 50 м, юноши</td>
      <td>00:00:27.990000</td>
      <td>97</td>
      <td>171</td>
      <td>15.0</td>
    </tr>
    <tr>
      <th>90</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:03.470000</td>
      <td>102</td>
      <td>366</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>91</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:04.460000</td>
      <td>103</td>
      <td>349</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>92</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:04.900000</td>
      <td>104</td>
      <td>349</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>93</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:04.910000</td>
      <td>105</td>
      <td>349</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>94</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:06.350000</td>
      <td>106</td>
      <td>318</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>95</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:06.730000</td>
      <td>107</td>
      <td>318</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>96</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:07.050000</td>
      <td>108</td>
      <td>304</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>97</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:07.960000</td>
      <td>109</td>
      <td>304</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>98</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:08</td>
      <td>110</td>
      <td>291</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>99</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:11.410000</td>
      <td>111</td>
      <td>256</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>100</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:12.720000</td>
      <td>112</td>
      <td>245</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>101</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:13.150000</td>
      <td>113</td>
      <td>235</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>102</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:13.980000</td>
      <td>114</td>
      <td>235</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>103</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:15.800000</td>
      <td>115</td>
      <td>217</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>104</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:16.230000</td>
      <td>116</td>
      <td>208</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>105</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:17.090000</td>
      <td>117</td>
      <td>200</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>106</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:20.270000</td>
      <td>118</td>
      <td>179</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>107</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:21</td>
      <td>119</td>
      <td>172</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>108</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:21.940000</td>
      <td>120</td>
      <td>172</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>109</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:22.080000</td>
      <td>121</td>
      <td>166</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>110</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:22.910000</td>
      <td>122</td>
      <td>166</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>111</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:26.610000</td>
      <td>123</td>
      <td>144</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>112</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:27.290000</td>
      <td>124</td>
      <td>139</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>113</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:31.720000</td>
      <td>125</td>
      <td>121</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>114</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:33.530000</td>
      <td>126</td>
      <td>113</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>115</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:34.020000</td>
      <td>127</td>
      <td>110</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>116</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:37.120000</td>
      <td>128</td>
      <td>100</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>117</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:01:45.740000</td>
      <td>129</td>
      <td>79</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>118</th>
      <td>плавание в классических ластах - 100 м, девочки</td>
      <td>00:02:05.780000</td>
      <td>130</td>
      <td>46</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>122</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:00:54.490000</td>
      <td>134</td>
      <td>582</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>123</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:00:56.260000</td>
      <td>135</td>
      <td>522</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>124</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:00:56.500000</td>
      <td>136</td>
      <td>522</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>125</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:00:59.210000</td>
      <td>137</td>
      <td>446</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>126</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:01:00.270000</td>
      <td>138</td>
      <td>424</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>127</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:01:01.300000</td>
      <td>139</td>
      <td>403</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>128</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:01:01.590000</td>
      <td>140</td>
      <td>403</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>129</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:01:01.680000</td>
      <td>141</td>
      <td>403</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>130</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:01:01.780000</td>
      <td>142</td>
      <td>403</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>131</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:01:02.770000</td>
      <td>143</td>
      <td>384</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>132</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:01:03.140000</td>
      <td>144</td>
      <td>366</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>133</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:01:04.270000</td>
      <td>145</td>
      <td>349</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>134</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:01:04.820000</td>
      <td>146</td>
      <td>349</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>135</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:01:05.410000</td>
      <td>147</td>
      <td>333</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>136</th>
      <td>плавание в классических ластах - 100 м, девушки</td>
      <td>00:01:05.460000</td>
      <td>148</td>
      <td>333</td>
      <td>45.09</td>
    </tr>
    <tr>
      <th>140</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:00:59.250000</td>
      <td>152</td>
      <td>342</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>141</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:00:59.890000</td>
      <td>153</td>
      <td>342</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>142</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:02.840000</td>
      <td>154</td>
      <td>294</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>143</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:04.660000</td>
      <td>155</td>
      <td>267</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>144</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:05.330000</td>
      <td>156</td>
      <td>255</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>145</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:05.570000</td>
      <td>157</td>
      <td>255</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>146</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:05.870000</td>
      <td>158</td>
      <td>255</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>147</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:06.360000</td>
      <td>159</td>
      <td>244</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>148</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:07.880000</td>
      <td>160</td>
      <td>233</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>149</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:08.180000</td>
      <td>161</td>
      <td>223</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>150</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:08.280000</td>
      <td>162</td>
      <td>223</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>151</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:09.600000</td>
      <td>163</td>
      <td>213</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>152</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:10.060000</td>
      <td>164</td>
      <td>204</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>153</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:10.250000</td>
      <td>165</td>
      <td>204</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>154</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:10.490000</td>
      <td>166</td>
      <td>204</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>155</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:10.900000</td>
      <td>167</td>
      <td>204</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>156</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:11.150000</td>
      <td>168</td>
      <td>196</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>157</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:11.370000</td>
      <td>169</td>
      <td>196</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>158</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:11.640000</td>
      <td>170</td>
      <td>196</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>159</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:11.690000</td>
      <td>171</td>
      <td>196</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>160</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:14.180000</td>
      <td>172</td>
      <td>173</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>161</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:14.290000</td>
      <td>173</td>
      <td>173</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>162</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:14.640000</td>
      <td>174</td>
      <td>173</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>163</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:18.500000</td>
      <td>175</td>
      <td>148</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>164</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:19.190000</td>
      <td>176</td>
      <td>142</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>165</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:19.290000</td>
      <td>177</td>
      <td>142</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>166</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:22.590000</td>
      <td>178</td>
      <td>127</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>167</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:24.550000</td>
      <td>179</td>
      <td>118</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>168</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:25.060000</td>
      <td>180</td>
      <td>114</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>169</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:25.770000</td>
      <td>181</td>
      <td>114</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>170</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:25.880000</td>
      <td>182</td>
      <td>114</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>171</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:26.350000</td>
      <td>183</td>
      <td>110</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>172</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:28.380000</td>
      <td>184</td>
      <td>103</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>173</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:28.480000</td>
      <td>185</td>
      <td>103</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>174</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:28.640000</td>
      <td>186</td>
      <td>103</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>175</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:28.740000</td>
      <td>187</td>
      <td>103</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>176</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:29.550000</td>
      <td>188</td>
      <td>99</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>177</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:32.170000</td>
      <td>189</td>
      <td>90</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>178</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:32.530000</td>
      <td>190</td>
      <td>90</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>179</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:32.610000</td>
      <td>191</td>
      <td>90</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>180</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:34.870000</td>
      <td>192</td>
      <td>84</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>181</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:36.750000</td>
      <td>193</td>
      <td>79</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>182</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:37.410000</td>
      <td>194</td>
      <td>76</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>183</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:37.970000</td>
      <td>195</td>
      <td>76</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>184</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:38.230000</td>
      <td>196</td>
      <td>74</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>185</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:41.880000</td>
      <td>197</td>
      <td>68</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>186</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:42.340000</td>
      <td>198</td>
      <td>66</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>187</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:43.740000</td>
      <td>199</td>
      <td>64</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>188</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:45.610000</td>
      <td>200</td>
      <td>60</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>189</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:48.800000</td>
      <td>201</td>
      <td>55</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>190</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:50.620000</td>
      <td>202</td>
      <td>52</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>191</th>
      <td>плавание в классических ластах - 100 м, мальчики</td>
      <td>00:01:53.660000</td>
      <td>203</td>
      <td>48</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>196</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:00:49.980000</td>
      <td>208</td>
      <td>597</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>197</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:00:53.030000</td>
      <td>209</td>
      <td>471</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>198</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:00:55.750000</td>
      <td>210</td>
      <td>422</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>199</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:00:56.080000</td>
      <td>211</td>
      <td>399</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>200</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:00:56.360000</td>
      <td>212</td>
      <td>399</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>201</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:00:56.380000</td>
      <td>213</td>
      <td>399</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>202</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:00:57.120000</td>
      <td>214</td>
      <td>379</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>203</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:00:57.400000</td>
      <td>215</td>
      <td>379</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>204</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:00:58.370000</td>
      <td>216</td>
      <td>360</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>205</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:00:58.870000</td>
      <td>217</td>
      <td>360</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>206</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:00:59.900000</td>
      <td>218</td>
      <td>342</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>207</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:00.500000</td>
      <td>219</td>
      <td>325</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>208</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:00.810000</td>
      <td>220</td>
      <td>325</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>209</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:01.030000</td>
      <td>221</td>
      <td>309</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>210</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:01.060000</td>
      <td>222</td>
      <td>309</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>211</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:01.210000</td>
      <td>223</td>
      <td>309</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>212</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:01.340000</td>
      <td>224</td>
      <td>309</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>213</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:01.560000</td>
      <td>225</td>
      <td>309</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>214</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:02.380000</td>
      <td>226</td>
      <td>294</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>215</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:02.640000</td>
      <td>227</td>
      <td>294</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>216</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:02.830000</td>
      <td>228</td>
      <td>294</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>217</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:03.250000</td>
      <td>229</td>
      <td>280</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>218</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:03.330000</td>
      <td>230</td>
      <td>280</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>219</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:04.810000</td>
      <td>231</td>
      <td>267</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>220</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:08.310000</td>
      <td>232</td>
      <td>223</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>221</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:08.340000</td>
      <td>233</td>
      <td>223</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>222</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:10.310000</td>
      <td>234</td>
      <td>204</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>223</th>
      <td>плавание в классических ластах - 100 м, юноши</td>
      <td>00:01:10.510000</td>
      <td>235</td>
      <td>204</td>
      <td>41.26</td>
    </tr>
    <tr>
      <th>227</th>
      <td>плавание в ластах - 200 м, девочки</td>
      <td>00:02:00.950000</td>
      <td>239</td>
      <td>358</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>228</th>
      <td>плавание в ластах - 200 м, девочки</td>
      <td>00:02:14.030000</td>
      <td>240</td>
      <td>257</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>229</th>
      <td>плавание в ластах - 200 м, девочки</td>
      <td>00:02:18.190000</td>
      <td>241</td>
      <td>235</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>230</th>
      <td>плавание в ластах - 200 м, девочки</td>
      <td>00:02:23.600000</td>
      <td>242</td>
      <td>211</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>231</th>
      <td>плавание в ластах - 200 м, девочки</td>
      <td>00:02:24.980000</td>
      <td>243</td>
      <td>207</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>232</th>
      <td>плавание в ластах - 200 м, девочки</td>
      <td>00:02:34.830000</td>
      <td>244</td>
      <td>169</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>233</th>
      <td>плавание в ластах - 200 м, девочки</td>
      <td>00:02:38.120000</td>
      <td>245</td>
      <td>157</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>234</th>
      <td>плавание в ластах - 200 м, девочки</td>
      <td>00:03:06.570000</td>
      <td>246</td>
      <td>96</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>238</th>
      <td>плавание в ластах - 200 м, девушки</td>
      <td>00:01:42.870000</td>
      <td>250</td>
      <td>583</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>239</th>
      <td>плавание в ластах - 200 м, девушки</td>
      <td>00:01:53.800000</td>
      <td>251</td>
      <td>429</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>240</th>
      <td>плавание в ластах - 200 м, девушки</td>
      <td>00:01:53.820000</td>
      <td>252</td>
      <td>429</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>241</th>
      <td>плавание в ластах - 200 м, девушки</td>
      <td>00:02:01.670000</td>
      <td>253</td>
      <td>349</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>242</th>
      <td>плавание в ластах - 200 м, девушки</td>
      <td>00:02:14.170000</td>
      <td>254</td>
      <td>257</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>243</th>
      <td>плавание в ластах - 200 м, девушки</td>
      <td>00:02:16.930000</td>
      <td>255</td>
      <td>246</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>244</th>
      <td>плавание в ластах - 200 м, девушки</td>
      <td>00:02:17.690000</td>
      <td>256</td>
      <td>240</td>
      <td>85.24</td>
    </tr>
    <tr>
      <th>248</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:05.310000</td>
      <td>260</td>
      <td>246</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>249</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:10.900000</td>
      <td>261</td>
      <td>219</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>250</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:12.430000</td>
      <td>262</td>
      <td>209</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>251</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:13.050000</td>
      <td>263</td>
      <td>204</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>252</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:14.980000</td>
      <td>264</td>
      <td>200</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>253</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:17.460000</td>
      <td>265</td>
      <td>187</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>254</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:28.350000</td>
      <td>266</td>
      <td>148</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>255</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:30.250000</td>
      <td>267</td>
      <td>142</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>256</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:32.700000</td>
      <td>268</td>
      <td>137</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>257</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:33.560000</td>
      <td>269</td>
      <td>134</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>258</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:40.760000</td>
      <td>270</td>
      <td>117</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>259</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:41.240000</td>
      <td>271</td>
      <td>115</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>260</th>
      <td>плавание в ластах - 200 м, мальчики</td>
      <td>00:02:50.160000</td>
      <td>272</td>
      <td>98</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>264</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:01:38.260000</td>
      <td>276</td>
      <td>511</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>265</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:01:41.270000</td>
      <td>277</td>
      <td>467</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>266</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:01:44.670000</td>
      <td>278</td>
      <td>428</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>267</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:01:45.270000</td>
      <td>279</td>
      <td>416</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>268</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:01:46</td>
      <td>280</td>
      <td>404</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>269</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:01:55.270000</td>
      <td>281</td>
      <td>316</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>270</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:01:55.310000</td>
      <td>282</td>
      <td>316</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>271</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:01:55.510000</td>
      <td>283</td>
      <td>316</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>272</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:01:55.940000</td>
      <td>284</td>
      <td>316</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>273</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:01:56.470000</td>
      <td>285</td>
      <td>308</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>274</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:02:01.670000</td>
      <td>286</td>
      <td>271</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>275</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:02:10.420000</td>
      <td>287</td>
      <td>219</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>276</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:02:10.590000</td>
      <td>288</td>
      <td>219</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>277</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:02:13.380000</td>
      <td>289</td>
      <td>204</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>278</th>
      <td>плавание в ластах - 200 м, юноши</td>
      <td>00:02:25.830000</td>
      <td>290</td>
      <td>158</td>
      <td>78.39</td>
    </tr>
    <tr>
      <th>282</th>
      <td>плавание в классических ластах - 400 м, девочки</td>
      <td>00:04:56.330000</td>
      <td>294</td>
      <td>435</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>283</th>
      <td>плавание в классических ластах - 400 м, девочки</td>
      <td>00:05:03.440000</td>
      <td>295</td>
      <td>406</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>284</th>
      <td>плавание в классических ластах - 400 м, девочки</td>
      <td>00:05:05.130000</td>
      <td>296</td>
      <td>398</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>285</th>
      <td>плавание в классических ластах - 400 м, девочки</td>
      <td>00:05:07.660000</td>
      <td>297</td>
      <td>390</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>286</th>
      <td>плавание в классических ластах - 400 м, девочки</td>
      <td>00:05:09.600000</td>
      <td>298</td>
      <td>382</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>287</th>
      <td>плавание в классических ластах - 400 м, девочки</td>
      <td>00:05:35.090000</td>
      <td>299</td>
      <td>300</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>288</th>
      <td>плавание в классических ластах - 400 м, девочки</td>
      <td>00:05:56.220000</td>
      <td>300</td>
      <td>250</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>289</th>
      <td>плавание в классических ластах - 400 м, девочки</td>
      <td>00:06:13.870000</td>
      <td>301</td>
      <td>217</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>293</th>
      <td>плавание в классических ластах - 400 м, девушки</td>
      <td>00:04:18.750000</td>
      <td>305</td>
      <td>657</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>294</th>
      <td>плавание в классических ластах - 400 м, девушки</td>
      <td>00:04:25.050000</td>
      <td>306</td>
      <td>607</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>295</th>
      <td>плавание в классических ластах - 400 м, девушки</td>
      <td>00:04:42.730000</td>
      <td>307</td>
      <td>503</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>296</th>
      <td>плавание в классических ластах - 400 м, девушки</td>
      <td>00:04:43.220000</td>
      <td>308</td>
      <td>498</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>297</th>
      <td>плавание в классических ластах - 400 м, девушки</td>
      <td>00:04:46.440000</td>
      <td>309</td>
      <td>482</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>298</th>
      <td>плавание в классических ластах - 400 м, девушки</td>
      <td>00:04:53.760000</td>
      <td>310</td>
      <td>449</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>299</th>
      <td>плавание в классических ластах - 400 м, девушки</td>
      <td>00:04:59.020000</td>
      <td>311</td>
      <td>422</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>300</th>
      <td>плавание в классических ластах - 400 м, девушки</td>
      <td>00:05:00.060000</td>
      <td>312</td>
      <td>418</td>
      <td>224.39</td>
    </tr>
    <tr>
      <th>304</th>
      <td>плавание в классических ластах - 400 м, мальчики</td>
      <td>00:04:37.640000</td>
      <td>316</td>
      <td>411</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>305</th>
      <td>плавание в классических ластах - 400 м, мальчики</td>
      <td>00:04:41.970000</td>
      <td>317</td>
      <td>393</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>306</th>
      <td>плавание в классических ластах - 400 м, мальчики</td>
      <td>00:05:05.750000</td>
      <td>318</td>
      <td>308</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>307</th>
      <td>плавание в классических ластах - 400 м, мальчики</td>
      <td>00:05:05.850000</td>
      <td>319</td>
      <td>308</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>308</th>
      <td>плавание в классических ластах - 400 м, мальчики</td>
      <td>00:05:06.210000</td>
      <td>320</td>
      <td>305</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>309</th>
      <td>плавание в классических ластах - 400 м, мальчики</td>
      <td>00:05:07</td>
      <td>321</td>
      <td>302</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>310</th>
      <td>плавание в классических ластах - 400 м, мальчики</td>
      <td>00:05:16.240000</td>
      <td>322</td>
      <td>277</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>311</th>
      <td>плавание в классических ластах - 400 м, мальчики</td>
      <td>00:05:16.330000</td>
      <td>323</td>
      <td>277</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>312</th>
      <td>плавание в классических ластах - 400 м, мальчики</td>
      <td>00:05:29.550000</td>
      <td>324</td>
      <td>245</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>313</th>
      <td>плавание в классических ластах - 400 м, мальчики</td>
      <td>00:05:30.910000</td>
      <td>325</td>
      <td>243</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>317</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:00.920000</td>
      <td>329</td>
      <td>632</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>318</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:01.710000</td>
      <td>330</td>
      <td>624</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>319</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:24.060000</td>
      <td>331</td>
      <td>475</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>320</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:33.360000</td>
      <td>332</td>
      <td>429</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>321</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:34.340000</td>
      <td>333</td>
      <td>424</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>322</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:34.410000</td>
      <td>334</td>
      <td>424</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>323</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:36.310000</td>
      <td>335</td>
      <td>415</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>324</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:42.010000</td>
      <td>336</td>
      <td>389</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>325</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:43.720000</td>
      <td>337</td>
      <td>385</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>326</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:44.510000</td>
      <td>338</td>
      <td>381</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>327</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:47.790000</td>
      <td>339</td>
      <td>369</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>328</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:50.530000</td>
      <td>340</td>
      <td>358</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>329</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:51.810000</td>
      <td>341</td>
      <td>354</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>330</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:53.180000</td>
      <td>342</td>
      <td>347</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>331</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:04:56.410000</td>
      <td>343</td>
      <td>337</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>332</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:05:05.390000</td>
      <td>344</td>
      <td>308</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>333</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:05:15.830000</td>
      <td>345</td>
      <td>279</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>334</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:05:31.500000</td>
      <td>346</td>
      <td>241</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>335</th>
      <td>плавание в классических ластах - 400 м, юноши</td>
      <td>00:05:46.850000</td>
      <td>347</td>
      <td>211</td>
      <td>206.0</td>
    </tr>
    <tr>
      <th>339</th>
      <td>плавание в ластах - 800 м, девочки</td>
      <td>00:08:55.290000</td>
      <td>351</td>
      <td>438</td>
      <td>406.47</td>
    </tr>
    <tr>
      <th>340</th>
      <td>плавание в ластах - 800 м, девочки</td>
      <td>00:10:00.680000</td>
      <td>352</td>
      <td>310</td>
      <td>406.47</td>
    </tr>
    <tr>
      <th>341</th>
      <td>плавание в ластах - 800 м, девочки</td>
      <td>00:10:27.280000</td>
      <td>353</td>
      <td>272</td>
      <td>406.47</td>
    </tr>
    <tr>
      <th>345</th>
      <td>плавание в ластах - 800 м, девушки</td>
      <td>00:07:38.900000</td>
      <td>357</td>
      <td>699</td>
      <td>406.47</td>
    </tr>
    <tr>
      <th>346</th>
      <td>плавание в ластах - 800 м, девушки</td>
      <td>00:08:20.380000</td>
      <td>358</td>
      <td>537</td>
      <td>406.47</td>
    </tr>
    <tr>
      <th>347</th>
      <td>плавание в ластах - 800 м, девушки</td>
      <td>00:08:45.630000</td>
      <td>359</td>
      <td>464</td>
      <td>406.47</td>
    </tr>
    <tr>
      <th>348</th>
      <td>плавание в ластах - 800 м, девушки</td>
      <td>00:08:52.810000</td>
      <td>360</td>
      <td>446</td>
      <td>406.47</td>
    </tr>
    <tr>
      <th>349</th>
      <td>плавание в ластах - 800 м, девушки</td>
      <td>00:09:40.670000</td>
      <td>361</td>
      <td>344</td>
      <td>406.47</td>
    </tr>
    <tr>
      <th>350</th>
      <td>плавание в ластах - 800 м, девушки</td>
      <td>00:10:07.390000</td>
      <td>362</td>
      <td>300</td>
      <td>406.47</td>
    </tr>
    <tr>
      <th>354</th>
      <td>плавание в ластах - 800 м, мальчики</td>
      <td>00:09:22.780000</td>
      <td>366</td>
      <td>293</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>355</th>
      <td>плавание в ластах - 800 м, мальчики</td>
      <td>00:09:30.770000</td>
      <td>367</td>
      <td>280</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>356</th>
      <td>плавание в ластах - 800 м, мальчики</td>
      <td>00:09:34.260000</td>
      <td>368</td>
      <td>275</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>357</th>
      <td>плавание в ластах - 800 м, мальчики</td>
      <td>00:10:21.870000</td>
      <td>369</td>
      <td>217</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>361</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:07:28.130000</td>
      <td>373</td>
      <td>578</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>362</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:07:28.610000</td>
      <td>374</td>
      <td>578</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>363</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:07:48.630000</td>
      <td>375</td>
      <td>507</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>364</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:08:02.920000</td>
      <td>376</td>
      <td>464</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>365</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:08:08.960000</td>
      <td>377</td>
      <td>447</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>366</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:08:29.900000</td>
      <td>378</td>
      <td>394</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>367</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:08:37.640000</td>
      <td>379</td>
      <td>376</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>368</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:08:45.900000</td>
      <td>380</td>
      <td>359</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>369</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:08:54.980000</td>
      <td>381</td>
      <td>341</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>370</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:09:03.600000</td>
      <td>382</td>
      <td>324</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>371</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:09:31.640000</td>
      <td>383</td>
      <td>279</td>
      <td>373.31</td>
    </tr>
    <tr>
      <th>372</th>
      <td>плавание в ластах - 800 м, юноши</td>
      <td>00:09:47.560000</td>
      <td>384</td>
      <td>257</td>
      <td>373.31</td>
    </tr>
  </tbody>
</table>